* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

nav ul li {
    list-style: none;
    padding: 2em;
}

.logo {
    font-size: 32px;
}

.hero-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30vh;
    gap: 15px;
}

.hero-text h1 {
    font-size: 32px;
    width: 300px;
    text-align: center;
    letter-spacing: 1px;
    color: #1d1b28;
}

.hero-text p {
    font-size: 12px;
    width: 450px;
    text-align: center;
    letter-spacing: 1px;
    color: #1d1b28;
    margin: 10px;
}

.heir {
    border-radius: 20px;
    padding: 12px 34px;
    background-color: #4d94a9;
    color: #fff;
    border: 1px solid #4d94a9;
}

.heir:hover {
    background-color: black;
    border: 1px solid black;
}

.hero {
    border-radius: 20px;
    padding: 12px 25px;
    background-color: #855db6;
    color: #fff;
    border: 1px solid #855db6;
}

.hero:hover {
    background-color: black;
    border: 1px solid black;
}

.hero-button {
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.features {
    display: flex;
    flex-direction: column;
    gap: 72px;
    justify-content: center;
    height: 80vh;
    align-items: center;
}

.feature-images {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    gap: 15px;
}

.feature-images img {
    border-radius: 5px;
}

.mission {
    display: flex;
    flex-direction: column;
    gap: 25px;
    height: 20vh;
    align-items: center;
}

.mission h1 {
    font-size: 32px;
    width: 250px;
    text-align: center;
}

.mission p {
    font-size: 12px;
    width: 590px;
    text-align: center;
}

footer {
    background-color: #4e8a98;
    height: 30vh;
    margin-top: 85px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.foot {
    border-radius: 20px;
    padding: 12px 35px;
    background-color: #855db6;
    color: #fff;
    border: 1px solid #855db6;
}

.foot:hover {
    background-color: black;
    border: 1px solid black;
}

.hero-footer {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 30px;
    list-style: none;
}

@media (max-width: 798px) {
    .features {
        display: flex;
        flex-direction: column;
        gap: 22px;
        justify-content: center;
        height: 80vh;
        align-items: center;
        margin-top: 300px;
    }

    .feature-images {
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
    }

    .mission {
        display: flex;
        flex-direction: column;
        gap: 25px;
        height: 20vh;
        align-items: center;
        margin-top: 300px;
    }

    .mission p {
        font-size: 12px;
        width: 390px;
        text-align: center;
    }
}